html {
  font-size: 16px;
  font-family: 'Open Sans';
}

body {
  
}

h1 {
  font-family: 'Monoton';
}

#logo {
  
}

/* hide logo when screen shrinks */
@media only screen and (max-width: 575px) {
  #logo {
    display: none;
  }
} 

/* Bootstrap Overrides */
.active {
  
}

div.jumbotron.jumbotron-bike {
  background-image: url('../images/jumbotron-bike.jpg');
}

.jumbotron h1 {
  color: white;
  text-align: center;
}

/* font outline */
.jumbotron p {
  color: white;
  text-align: center;
  text-shadow: 0 0 2px #ffffff; 
}

