html {
  
}

body {
  
}

#logo {
  
}

/* hide logo when screen shrinks */
@media only screen and (max-width: 575px) {
  #logo {
    display: none;
  }
} 

/* Bootstrap Overrides */
.active {
  
}

div.jumbotron.jumbotron-bike {
  background-image: url('../images/jumbotron-bike.jpg')
}

/* font outline */
.jumbotron-bike p {
  text-shadow: 0 0 2px #ffffff; 
}